body {
    background:white;
    padding:100px;
}
*{
    padding: 0;
    margin: 0;
}
#oDiv{
    width: 200px;
    height: 200px;
    background-color: blue;
    border: 2px solid lime;
    position: absolute;
    left: 200px;
    top: 200px;
}