body{
    margin: 0;
    font-size: 12px;
    font-family: '宋体';
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
h3{
    margin: 0;
}
a{
    text-decoration: none;
    color: #000000;
}
.clearfix{
    *zoom: 1;
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}
.wrapper{
    margin:50px auto;
    width: 333px;
    padding: 20px;
    border: 2px solid #e8e8e8;
}
.header h3{
    line-height: 30px;
    width:110px;
    float: left;
    border-left: 5px solid #8bcc00;
    background: url('../img/tit.png') 10px 0 no-repeat;
    text-indent: -999px;
    padding-left: 10px;
}
.header h3 a{
    display: block;
    width: 100%;
    height: 100%;
    font-family: "幼圆";
    font-size: 28px;
    letter-spacing: -1px;
}
.tit_btn{
    margin-left: 9px;
    float: left;
}
.tit_play,.tit_add{
    float: left;
    width:30px;
    height:30px;
    border-radius: 50%;
    overflow: hidden;
    text-indent: -999px;
}
.tit_play{
    background: url('../img/tit_play.png') no-repeat;
}
.tit_add{
    margin-left: 10px;
    background: url('../img/tit_add.png') no-repeat;
}
.class_sel{
    float: right;
}
.class_sel li{
    float: left;
    padding: 9px 0;
    cursor: pointer;
}
.class_sel li:first-child a{
    padding-left: 0;
}
.class_sel li:last-child a{
    padding-right: 0;
    border-right: none;
}
.class_sel li a{
    display: block;
    line-height:12px;
    width:25px;
    padding:0 7px 0 8px;
    border-right: 1px solid #d8d8d8;
    color: #0f820c;
}
.class_sel li:hover a,.class_sel li a.active{
    color: #333333;
    font-weight:bold;
}
.mc_list{
    margin-top: 12px;
}
.mc_list li{
    line-height: 35px;
    border-bottom: 1px dotted #ffffff;
}
.name{
    float: left;
    line-height: 35px;
}
.name:hover .name_mc{
    color: #05b600;
}
.name_mc{
    color: #0f820c;
    font-size:14px;
    float: left;
}
.en_name{
    font-family: Arial;
}
.name_line{
    padding: 0 6px;
    color: #8b8b8b;
    font-size:14px;
    float: left;
    font-family: 'Arial';
}
.name_mcr{
    color: #515151;
    font-size:14px;
    float: left;
}
.date{
    float: right;
    color: #8b8b8b;
    font-family: "Arial";
}
.btn_cli{
    float: right;
    padding: 11px 0 12px 0;
    display: none;
}
.btn_cli a{
    width:12px;
    height:12px;
    float: left;
    margin-right: 8px;
    background-image: url('../img/btn_cli.png');
    background-repeat: no-repeat;
    text-indent: -999px;
}
.btn_cli a:last-child{
    margin-right: 0;
}
.btn_play{
    background-position: 0 0;
}
.btn_add{
    background-position: -19px 0;
}
.btn_love{
    background-position: -38px 0;
}
.btn_score{
    background-position: -58px 0;
}
.btn_down{
    background-position: -77px 0;
}
.mc_list li:hover{
    border-bottom: 1px dotted #e1e1e1;
}
.mc_list li:hover .date{
    display: none;
}
.mc_list li:hover .btn_cli{
    display: block;
}
